.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 100px; */
}
.home_input{
    background-color: white;
    padding: 16px;
    border-radius: 17px;
    margin-bottom: 16px;
    margin-top: 100px;
}
.home_input::placeholder{
    color:red;
}

.button_input{
    background-color: blue;
}