    button{
    font-size: 1.5rem;
    background-color:white;
    border: none;
    padding: 8px 24px;
    color: rgb(58, 67, 204);
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    
}
  
  button:hover {
    border-color: #a7aadf;
  }
  
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  } 
 
   
   