/* Fonte DEVBANK*/
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* Background */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


/* texto do título ''DevBank'' */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  
}


/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f5eeea;
  cursor: pointer;
  transition: border-color 0.25s;
  -webkit-box-shadow: 4px 4px 12px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 4px 4px 12px 2px rgba(0,0,0,0.15);
  box-shadow: 4px 4px 12px 2px rgba(0,0,0,0.15);
}

button:hover {
  border-color: #87faeb;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
